#dashboard {
    .dashboard-greeting {
        .picture1 {
            top: 10%;
            right: 10%;
        }
    }

    .notify {
        font-size: 25px;
    }

    .control-device {
        .icon-control {
            font-size: 50px;
        }

    }

    .sensorIcon {
        font-size: 25px;
        color: #fff;
    }

    .sensorIcon1 {
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .sensorIcon2 {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }

    .member::-webkit-scrollbar {
        display: none;
        /* Ẩn thanh cuộn trên Chrome, Safari */
    }

    .member {
        -ms-overflow-style: none;
        /* Ẩn thanh cuộn trên IE, Edge */
        scrollbar-width: none;
        /* Ẩn thanh cuộn trên Firefox */
    }
}